
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Webpage</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/sticky.css" />
  </head>
  <body>
    <div class="container-fluid">

        <!-- header -->
      <%- include ("./header.ejs") %>
      <!-- header -->

      <!-- body -->
      <%- include ("./body.ejs") %>
      <!-- body -->

      <!-- footer -->
      <%- include ("./footer.ejs") %>
      <!-- footer -->

    </div>

  </body>
</html>
