body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
}
header{
    background-color: #4ac0f7;
    color: white;
    padding: 1px;
    text-align: center;
    margin: auto;
    
}

main{
    margin-left: 20%;
    padding: 20px;
    color: #000;
}


aside{
    background-color: #f4f4f4;
    float: left;
    /* width: 15%; */
    height: 100vh;
    padding: 20px;
    text-align: center;
}
aside h2{
    color: #4ac0f7;
    background-color: rgb(255, 255, 255);
    border-bottom: #f4f4f4;
    
    

}
footer{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}