body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
}
header{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main{
    margin-left: 20%;
    padding: 20px;
}
aside{
    background-color: #f4f4f4;
    float: left;
    width: 15%;
    height: 100vh;
    padding: 20px;
    text-align: center;
}
footer{
    /* background-color: #333; */
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}