.menu {
    font-weight: bold;
    text-align: center;
    color: #00F;
    background-color: #FFF;
    padding: 7px 0;
    margin: 5px auto;
}

li{
    list-style-type: none;
    margin: 1px auto;
    padding: 5px;
    background-color: rgb(197, 197, 231);
}

li:hover{
    background-color: rgb(221, 221, 231);
    color:#00F;
}
